@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  word-wrap: break-word;
  color: #4e4e4e;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  margin: 0 auto;
  padding: 0;
  width: 1600px;
  box-sizing: border-box;
  overflow: hidden;
}

.navbar {
  display: flex;
}

.btn {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  padding: 15px 47px;
  border: none;
  outline: none;
  color: #ffffff;
  background-color: #00AFDB;
}

.btn:hover {
  cursor: pointer;
  background-color: #009CC2;
}

.section-title {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #373737;
}

.section-text {
  margin: 0;
  padding: 0;
  line-height: 146%;
}

.column-2 {
  display: flex;
  justify-content: space-between;
}

.logo {
  cursor: auto;
}

.page-header {
  position: relative;
  width: 100%;
  background-color: #000000;
}

.header_nav {
  justify-content: center;
}

.header_nav ul {
  margin: 0;
  padding: 25px 0;
  width: 582px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_nav .navbar-fix {
  padding-right: 13px;
}

.navbar_item {
  list-style: none;
}

.navbar_item:nth-child(3) {
  margin-left: 16px;
  margin-right: 14px;
}

.navbar_item .navbar_link {
  color: #ffffff;
  opacity: 0.8;
}

.navbar_item .navbar_link:hover {
  opacity: 0.3;
}

.navbar_item .active {
  opacity: 1;
  position: relative;
}

.active::before {
  content: '';
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: -1px;
  left: 0;
  background-color: #ffffff;
}

.life {
  background-color: #000000;
}

.life_wrapper {
  padding-bottom: 89px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(assets/live-bg.jpg) center -99px no-repeat;
}

.life_title {
  margin: 0;
  margin-top: 130px;
  padding-left: 5px;
  font-size: 64px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 4.5px;
  color: #ffffff;
}

.life_text {
  margin: 0;
  margin-top: 21px;
  padding: 0;
  width: 465px;
  font-size: 18px;
  line-height: 140%;
  text-align: center;
  color: #ffffff;
}

.life_btn {
  margin-right: 1px;
  margin-top: 29px;
  padding-bottom: 14px;
}


.social {
  display: flex;
  margin: 0;
  padding: 0;
}

.life_social {
  margin-top: 183px;
  width: 170px;
  justify-content: space-between;
}

.social_item {
  list-style: none;
  width: 20px;
  height: 20px;
  background-color: #fff;
}

.social_item:hover {
  cursor: pointer;
  opacity: 0.5;
}

.social_item:first-child {
  background: url(assets/mail-icon.svg) center no-repeat;
}

.social_item:nth-child(2) {
  background: url(assets/facebook-icon.svg) center no-repeat;
}

.social_item:nth-child(3) {
  background: url(assets/instagram-icon.svg) center no-repeat;
}

.social_item:last-child {
  background: url(assets/youtube-icon.svg) center no-repeat;
}

.rappresent {
  background-color: #ffffff;
}

.rappresent_wrapper {
  padding-top: 120px;
  padding-bottom: 140px;
}

.rappresent_column {
  margin: 0 auto;
  width: 1060px;
  align-items: center;
}

.rappresent_description {
  margin-top: -2px;
  margin-left: -2px;
  width: 405px;
}

.rappresent_title {
  width: 390px;
  padding-top: 1px;
}

.rappresent_text {
  margin-top: 21px;
}

.rappresent_text strong {
  font-weight: 500;
  color: #373737;
}

.rappresent_btn {
  margin-top: 29px;
  padding-right: 48px;
  padding-bottom: 14px;
}

.community {
  background-color: #F5F6F7;
}

.community_wrapper {
  padding-top: 80px;
  padding-bottom: 140px;
}

.community_column {
  align-items: flex-start;
  justify-content: center;
}

.community_description {
  margin-top: 75px;
  margin-left: 271px;
  margin-right: 61px;
  width: 298px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.community_title {
  margin: 0;
  margin-top: 21px;
  padding: 0;
  padding-left: 2px;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  color: #373737;
}

.community_text {
  margin: 0;
  margin-top: 10px;
  padding: 0;
  line-height: 143%;
  text-align: center;
}

.community_slider {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 79px;
}

.slider_navigation {
  display: flex;
  align-items: center;
}

.community_slider .slider_navigation {
  margin-top: -1px;
  margin-left: 544px;
}

.slider_counter {
  margin: 0 10px;
  margin-right: 9px;
  font-size: 18px;
  color: #373737;
}

.arrow-prew:hover,
.arrow-next:hover {
  cursor: pointer;
  opacity: 0.5;
}

.slider_body {
  margin-top: 19px;
  display: flex;
  flex-wrap: nowrap;
}

.slider_item {
  margin: 0;
  margin-right: 30px;
  padding: 0;
}

.slider_item:last-child {
  margin-right: 0;
}

.implement {
  background-color: #ffffff;
}

.implement_wrapper {
  padding-top: 120px;
  padding-bottom: 140px;
}

.implement_column {
  margin: 0 auto;
  padding-right: 109px;
  align-items: center;
  width: 953px;
}

.implement_img {
  margin-right: 139px;
}

.implement_title {
  margin-top: -2px;
}

.implement_text {
  margin-top: 21px;
}

.implement_text strong {
  font-weight: 500;
  color: #373737;
}

.implement_btn {
  margin-top: 29px;
  padding-bottom: 14px;
  padding-right: 48px;
}

.subscribe {
  background-color: #000000;
}

.subscribe_wrapper {
  padding-top: 216px;
  padding-bottom: 277px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(assets/subscribe-bg.jpg) 0 0 no-repeat;
}

.subscribe_title {
  margin-left: 1px;
  color: #FFFFFF;
}

.subscribe_form {
  margin-top: 30px;
  display: flex;
  flex-wrap: nowrap;
}

.subscribe_email {
  margin: 0;
  padding: 17px 24px 14px 24px;
  width: 340px;
  border: none;
  outline: none;
  box-sizing: border-box;
}

.subscribe_email::placeholder {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.4px;
  color: #373737;
}

.subscribe_btn {
  padding: 15px 33px;
  position: relative;
}

.subscribe_btn::after {
  content: '';
  position: absolute;
  top: 0;
  left: 1px;
  width: 66px;
  height: 46px;
  background: url(assets/check-icon.svg) center center no-repeat;
}

.download {
  background-color: #ffffff;
}

.download_wrapper {
  padding-top: 119px;
  padding-bottom: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.download_title {
  margin-left: 1px;
}

.download_text {
  margin-top: 21px;
  width: 483px;
  text-align: center;
}

.download_column {
  margin-top: 29px;
  display: flex;
  justify-content: space-between;
  width: 406px;
}

.download_btn {
  margin-right: 30px;
  padding: 18px 18px 15px 20px;
  position: relative;
}

.download_btn::before {
  content: '';
  position: absolute;
  top: 0;
  right: -61px;
  width: 61px;
  height: 50px;
  background-color: #009CC2;
}

.download_btn:hover::before {
  background-color: #00AFDB;
}

.download_btn:first-child::after {
  content: url(assets/apple-icon.svg);
  position: absolute;
  top: 15px;
  right: -40px;
}

.download_btn:last-child {
  margin-right: 60px;
  padding-left: 16px;
}

.download_btn:last-child::before {
  right: -60px;
}

.download_btn:last-child::after {
  content: url(assets/android-icon.svg);
  position: absolute;
  top: 13px;
  right: -40px;
}

.footer {
  background-color: #000000;
}

.footer_wrapper {
  padding-top: 60px;
  padding-bottom: 75px;
}

.footer_column {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1280px;
}

.footer_nav {
  margin: 0;
  margin-top: -2px;
  padding: 0;
}

.footer_nav .navbar_item {
  margin-right: 41px;
  margin-left: 0;
  position: relative;
  line-height: 140%;
}

.footer_nav .navbar_link {
  color: #ffffff;
  opacity: 1;
}

.footer_nav .navbar_item::before {
  content: '';
  position: absolute;
  top: 6px;
  right: -21px;
  width: 1px;
  height: 8px;
  background-color: #4E4E4E;
}

.footer_nav .navbar_item:last-child::before {
  content: none;
}

.footer_logo {
  margin-right: 108px;
}

.footer_copyright {
  margin: 0;
  margin-top: -2px;
  padding: 0;
  color: #818181;
}